{{ with .Site.Data.home.hero }}
  <main id="topper" class="bg-red text-white overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 mb-5 mb-lg-0">
          <div class="py-8 my-3">
            <h1 class="display-4 mb-4">{{ .heading | markdownify }}</h1>
            <p class="mb-4 pb-2 lead">{{ .lead }}</p>
            {{ if .cta }}
              {{ partial "generic/button" (dict "classes" "btn-outline-white" "button" .cta) }}
            {{ end }}
          </div>
        </div>
        <div class="col-xl-4 ms-lg-auto d-none d-lg-block">
          <div class="w-100 h-100">
            {{ $alt := "" }}
            {{ if and .image .image.alt }}
              {{ $alt = .image.alt }}
            {{ end }}

            {{ $src := .image.src }}

            {{ if and .image .image.src }}

              {{ $image := "" }}
              {{/*  Get the image, either from its remote or local source  */}}
              {{ if hasPrefix $src "http"}}
                {{ $image = resources.GetRemote $src }}
              {{ else }}
                {{ $image = resources.Get $src }}
              {{ end }}
          
              {{/* Resize images and add them to a variable  */}}
              {{ if and $image (ne $image.MediaType.SubType "svg") }}
                {{ $src = ($image.Fit (printf "%dx%d webp" 960 640)).RelPermalink }}
              {{ end }}

              {{ if .image.caption }}
                <div class="h-100 d-none d-xl-flex align-items-end jgb-xl-bleed-right position-relative" style="background-image: url({{ $src }}); background-size: cover; background-position: center;">
                  <p class="m-3 small">{{ .image.caption }}</p>
                </div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="d-xl-none position-relative">
      <p class="m-3 small position-absolute" style="bottom: 0px;">{{ .image.caption }}</p>
      <img class="img-fluid w-100" src="{{ $src }}" alt="{{ $alt }}" />
    </div>
  </main>
{{ end }}