<main id="topper" class="">
  <div class="pt-4">
    <div class="jgb-pattern-plus">  
      <div class="container">
        <div class="row">
          <div class="col-xl-10 mx-xl-auto bg-white py-lg-7">
            <div class="row">
              <div class="col-lg-7 d-flex align-items-center mb-5 mb-lg-0">
                <div class="bg-white p-xl-5 ms-xl-n9">
                  <h1 class="display-4 mb-4 archivo-black-regular lh-1 jgb-bar">{{ .Params.hero.heading }}</h1>
                  <p class="mb-4 pb-2 lead libre-baskerville-regular">{{ .Params.hero.lead }}</p>
                  <a class="btn btn-primary btn-lg mb-2 shadow" href="{{ .Params.hero.cta.url }}">{{ .Params.hero.cta.text }} <span class="fa-solid fa-chevron-right"></span></a>
                </div>
              </div>
              <div class="col-lg-4 ms-lg-auto">
                <div class="me-xl-n9">
                  <img class="img-fluid rounded-4 shadow" src="https://placehold.co/960" alt="placeholder" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>