{{ $injuryPages := where .Site.RegularPages "Section" "practice-areas" }}
<section aria-labelledby="serivces-label" class="pt-7 bg-white text-center">
  <div class="container">
    {{ with .Site.Data.home.services }}
      <h2 id="services-label" class="mb-5 text-center display-6">{{ .heading }}</h2>
    {{ end }}
    <div class="row gx-4">
      {{ range $injuryPages }}
        {{ if not .Params.hide_from_subnav }}
          <div class="col-md-6 mb-4">
            <div class="bg-light p-4 p-lg-5 rounded-5 h-100">
              {{ if .Params.icon }}
                <span class="fa-sharp fa-{{ .Params.icon }} display-3 text-red"></span>
              {{ end }}
              <h3 class="h2 mt-4">{{ .Title }}</h3>
              <p class="small">{{ .Params.description }}</p>
              <p class="mb-0"><a href="{{ .RelPermalink }}">Learn more</a></p>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>