{{ with .Site.Data.why_we_fight.profile }}
  <main id="topper" class="pt-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <div class="">
            <h1 class="display-5 mb-4">{{ .heading | markdownify }}</h1>
            {{ if .text }}
              <div class="mb-4 pb-2 lead">{{ .text | markdownify }}</div>
            {{ end }}
            {{ if .cta }}
              {{ partial "generic/button" (dict "button" .cta) }}
            {{ end }}
          </div>
        </div>
        <div class="col-lg-4 ms-lg-auto">
          {{ $image := "" }}
          {{ $alt := "" }}
          {{ if and .image .image.src }}
            {{ $image = resources.Get .image.src }}
            {{ $image = $image.RelPermalink }}
          {{ end }}
          <img class="img-fluid" src="{{ $image }}" alt="{{ $alt }}" />
        </div>
      </div>
    </div>
  </main>
{{ end }}