{{ define "main" }}
  {{ partial "header.html" (dict "title" .Title) }}
  <main class="pt-6">
    <div class="container">
      <div class="row">
        
          <div class="col-md-7 me-md-auto jgb-main-content lh-lg mb-5 mb-md-0">
            {{ with .Params.lead }}
              <div class="h2 mb-4">
                <p>{{ . }}</p>
              </div>
            {{ end }}
            {{ .Params.body | markdownify }}
          </div>
        
        <div class="col-md-4">
          {{ partial "section-menu" }}
        </div>
      </div>
    </div>
  </main>
{{ end }}