{{ define "main" }}
  {{ $title := "" }}
  {{ $src := "" }}
  {{ $alt := "" }}

  {{ with .Site.Data.meet_us }}
    <main id="topper" class="pt-6 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 me-md-auto mb-5 mb-md-0">
            <div class="jgb-main-content lh-lg mb-5">
              {{ if .title }}
                {{ $title := .title }}
              {{ end }}
              {{ if .alt_title }}
                {{ $title = .alt_title }}
              {{ end }}
              <h1 class="display-4 mb-5">{{ $title }}</h1>
              <div class="">
                {{ if .content }}
                  {{ .content | markdownify }}
                {{ end }}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            {{ if .sidebar_img }}
              {{ if .sidebar_img.alt }}
                {{ $alt = .sidebar_img.alt }}
              {{ end }}
              {{ if .sidebar_img.src }}
                {{ $src := .sidebar_img.src }}
                {{ $image := "" }}
                {{/*  Get the image, either from its remote or local source  */}}
                {{ if hasPrefix $src "http"}}
                  {{ $image = resources.GetRemote $src }}
                {{ else }}
                  {{ $image = resources.Get $src }}
                {{ end }}
            
                {{/* Resize images and add them to a variable  */}}
                {{ if and $image (ne $image.MediaType.SubType "svg") }}
                  {{ $src = ($image.Fit (printf "%dx%d webp" 960 640)).RelPermalink }}
                {{ end }}
                <img class="img-fluid" loading="lazy" src='{{ $src }}' alt="{{ $alt }}" />
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </main>
  {{ end }}
  {{ partial "components/attorneys" . }}
  {{ partial "components/fighting" . }}
{{ end }}