{{ $page := . }}
{{ $backgroundImage := "" }}
{{ with site.Data.footer }}
  {{ if .background_image }}
    {{ $backgroundImage = resources.Get .background_image.src }}
    {{ $backgroundImage = $backgroundImage.RelPermalink }}
  {{ end }}
  <footer>
    <div class="py-7 bg-dark text-white" style="background-image: url({{ $backgroundImage }}); background-position: center; background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xl-4 me-md-auto mb-5 mb-xl-0">
            <div class="">
              <p class="lead mb-5">{{ .contact_message }}</p>
            </div>
            <div class="mb-5">
              <h2 class="h4 mb-3">Contact Us</h2>
              <address>
                <span class="d-block"><strong>{{ .address_first_line }}</strong></span>
                {{ range .address }}
                  <span class="d-block">{{ . }}</span>
                {{ end }}
              </address>
              <ul class="list-unstyled">
                {{ range .phone }}
                  <li><strong>{{ .label }}:</strong> <a class="text-white" href="tel:{{ .number | urlize }}">{{ .number }}</a></li>
                {{ end }}
              </ul>
            </div>
            {{ if .map_link }}
              {{ partial "generic/button" (dict "button" .map_link) }}
            {{ end }}
          </div>
          {{ if ne $page.Title "Get in touch" }}
            <div class="col-md-6">
              <div class="">                
                <h2 class="mb-4">{{ .form_heading }}</h2>
                <p class="lead">{{ .form_intro }}</p>
                <p>{{ .form_instructions | markdownify }}</p>
                <form name="contact" action="/form-success" method="POST" data-netlify="true">
                  <input type="hidden" name="subject" data-remove-prefix value="Contact inquiry from jonathangbrill.com" />
                  <div class="mb-3">
                    <label for="nameInput" class="form-label"><strong>Name</strong> <span class="text-danger"><sup>*</sup></span></label>
                    <input name="name" type="text" class="form-control" id="nameInput" required>
                  </div>
                  <div class="mb-3">
                    <label for="phoneInput" class="form-label"><strong>Phone</strong> <span class="text-danger"><sup>*</sup></span></label>
                    <input name="phone" type="tel" class="form-control" id="phoneInput" required>
                  </div>
                  <div class="mb-3">
                    <label for="emailInput" class="form-label"><strong>Email Address</strong> <span class="text-danger"><sup>*</sup></span></label>
                    <input name="email" type="email" class="form-control" id="emailInput" required>
                  </div>
                  <div class="mb-3">
                    <label for="orderInput" class="form-label"><strong>Message</strong> <span class="text-danger"><sup>*</sup></span></label>
                    <textarea name="message" class="form-control" id="orderInput" rows="3" required></textarea>
                  </div>
                  <p><a href="" class="text-white">Disclaimer</a> | <a href="" class="text-white">Privacy Policy</a></p>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label small" for="flexCheckDefault">
                      I Have Read the Disclaimer *
                    </label>
                  </div>
                  <button type="submit" class="btn btn-red rounded-pill px-3">Contact</button>
                </form>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="bg-light py-6">
      <div class="container small">
        <p class="mb-1">&copy; 2025 Jonathan G. Brill, PLLC All Rights Reserved</p>
        <p><a class="" href="">Disclaimer</a> | <a class="" href="">Site Map</a> | <a class="" href="">Privacy Policy</a></p>
      </div>
    </div>
  </footer>
{{ end }}