{{ $page := . }}
{{ $backgroundImage := "" }}
{{ partial "components/cta" . }}
{{ with site.Data.footer }}
  {{ if .background_image }}
    {{ $backgroundImage = resources.Get .background_image }}
    {{ $backgroundImage = $backgroundImage.RelPermalink }}
  {{ end }}
  <footer id="footer">
    <div class="py-7 bg-dark text-white" style="background-image: url({{ $backgroundImage }}); background-position: center; background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xl-4 me-md-auto mb-5 mb-xl-0">
            {{ if .contact_message }}
              <div class="">
                <p class="lead mb-5">{{ .contact_message }}</p>
              </div>
            {{ end }}
            <div class="mb-5">
              <h2 class="h4 mb-3">Contact Us</h2>
              <address>
                {{ if .address_first_line }}
                  <span class="d-block"><strong>{{ .address_first_line }}</strong></span>
                {{ end }}
                {{ if .address }}
                  {{ range .address }}
                    <span class="d-block">{{ .text }}</span>
                  {{ end }}
                {{ end }}
              </address>
              {{ if .phone }}
                <ul class="list-unstyled">
                  {{ range .phone }}
                    <li><strong>{{ .label }}:</strong> <a class="text-white" href="tel:{{ .number | urlize }}">{{ .number }}</a></li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
            {{ if .map_link }}
              {{ partial "generic/button" (dict "button" .map_link) }}
            {{ end }}
          </div>
          {{ if ne $page.Title "Get in touch" }}
            <div class="col-md-6">
              <div class="">                
                <h2 class="mb-4">{{ .form_heading }}</h2>
                <p class="lead">{{ .form_intro }}</p>
                <p>{{ .form_instructions | markdownify }}</p>
                {{ partial "components/contact-form" (dict "linkText" "text-white") }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="bg-light py-6">
      <div class="container small">
        <p class="mb-1">&copy; {{ now.Year }} Jonathan G. Brill, PLLC. All Rights Reserved</p>
        {{ if .links }}
          <p>
            {{ range $k, $_ := .links }}
              {{ if $k }} | {{ end }}<a class="" href="{{ .url }}">{{ .text }}</a>
            {{ end }}
          </p>
        {{ end }}
      </div>
    </div>
  </footer>
{{ end }}