{{ define "main" }}
  {{ with .Site.Data.get_in_touch }}
    {{ partial "header.html" (dict "title" .title "alt_title" .alt_title) }}
    <main class="pt-6">
      <div class="container">
        <div class="row">
          <div class="col-md-7 me-md-auto mb-5 mb-md-0">
            {{ if .intro }}
              <div class="jgb-main-content mb-5">
                {{ .intro | markdownify }}
              </div>
            {{ end }}
            {{ partial "components/contact-form" (dict "linkText" "text-dark") }}
          </div>
          <div class="col-md-4">
            {{ partial "section-menu" }}
          </div>
        </div>
      </div>
    </main>
  {{ end }}
{{ end }}